<footer class="bg-dark text-center text-light py-3 mt-4">
    <div class="container">
        <p class="mb-1">&copy; 2024 <strong>Rotten Ketchup</strong></p>
        <p>
            <a href="http://localhost:3000/api-docs" target="_blank" class="text-decoration-none text-success fw-bold">
                Swagger : API Documentation
            </a>
        </p>
    </div>
</footer>
