<footer class="ps-3 mt-2">
    <p>&copy; 2024 Rotten Ketchup</p>
    <p>
        <a href="http://localhost:3000/api-docs" target="_blank" style="text-decoration: none; color: #007bff;">
            Swagger : API Documentation
        </a>
    </p>
</footer>
