<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">My Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="genresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Genres
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="genresDropdown">
                        <li><a class="dropdown-item" href="/springboot/genres?genre=action">action</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=adventure">adventure</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=animation">animation</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=comedy">comedy</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=crime">crime</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=documentary">documentary</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=drama">drama</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=family">family</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=history">history</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=horror">horror</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=music">music</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=mystery">mystery</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=romance">romance</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=science fiction">science fiction</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=thriller">thriller</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=tv movie">tv movie</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=war">war</a></li>
                        <li><a class="dropdown-item" href="/springboot/genres?genre=western">western</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="genresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Releases
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="releaseDropdown">
                        <li><a class="dropdown-item" href="/springboot/releases?date=2000">2000</a></li>
                        <li><a class="dropdown-item" href="/springboot/releases?date=2010">2010</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/languages">Explorer par langue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
            </ul>
            <form class="d-flex" action="/springboot/findByKeyword" method="get">
                <input class="form-control me-2" type="text" name="name" placeholder="Entrez un mot-clé" required>
                <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
        </div>
    </div>
</nav>
