<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-3">
    <div class="container-fluid">
        <a class="navbar-brand text-success" href="/">Rotten Ketchup</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <!-- Dropdown for Genres -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="genresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Genres
                    </a>
                    <div class="dropdown-menu p-3" aria-labelledby="genresDropdown" style="min-width: 600px;">
                        <div class="row g-1" id="genreContainer">
                            <!-- Les genres seront insérés ici via JavaScript -->
                        </div>
                    </div>
                </li>
                <!-- Dropdown for Releases -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="releaseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Releases
                    </a>
                    <ul class="dropdown-menu scrollable-dropdown" id="releaseContainer" aria-labelledby="releaseDropdown">
                        <!-- Les années seront insérées ici via JavaScript -->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/springboot/languages">Explore by language</a>
                </li>
            </ul>

            <div class="mx-auto" style="width: 400px;">
                <form class="d-flex" action="/springboot/findByKeyword" method="get">
                    <input class="form-control me-2" type="text" name="name" placeholder="Start typing your movie.." required>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

            <div class="d-flex align-items-center">
                <label for="userName" class="text-white me-2 mb-0">Name:</label>
                <input id="userName" class="form-control" type="text" placeholder="Enter your name" aria-label="Your name" oninput="updateUserName()" style="max-width: 200px;">
            </div>
        </div>
    </div>
</nav>
