<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Rotten Ketchup</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <!-- Dropdown for Genres -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="genresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Genres
                    </a>
                    <div class="dropdown-menu p-3" aria-labelledby="genresDropdown" style="min-width: 600px;">
                        <div class="row g-1">
                            <div class="col-md-4">
                                <a class="dropdown-item" href="/springboot/genres?genre=action">Action</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=adventure">Adventure</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=animation">Animation</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=comedy">Comedy</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=crime">Crime</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=documentary">Documentary</a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" href="/springboot/genres?genre=drama">Drama</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=family">Family</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=history">History</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=horror">Horror</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=music">Music</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=mystery">Mystery</a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" href="/springboot/genres?genre=romance">Romance</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=science fiction">Science Fiction</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=thriller">Thriller</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=tv movie">TV Movie</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=war">War</a>
                                <a class="dropdown-item" href="/springboot/genres?genre=western">Western</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Dropdown for Releases -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="releaseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Releases
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="releaseDropdown">
                        <li><a class="dropdown-item" href="/springboot/releases?date=2000">2000</a></li>
                        <li><a class="dropdown-item" href="/springboot/releases?date=2010">2010</a></li>
                        <li><a class="dropdown-item" href="/springboot/releases?date=2020">2020</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/springboot/languages">Explore by language</a>
                </li>
            </ul>

            <div class="mx-auto" style="width: 400px;">
                <form class="d-flex" action="/springboot/findByKeyword" method="get">
                    <input class="form-control me-2" type="text" name="name" placeholder="Start typing your movie.." required>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

            <div class="d-flex align-items-center">
                <label for="userName" class="text-white me-2 mb-0">Name:</label>
                <input id="userName" class="form-control" type="text" placeholder="Enter your name" aria-label="Your name" oninput="updateUserName()" style="max-width: 200px;">
            </div>
        </div>
    </div>
</nav>
