/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Control the left side of chat */
.left {
    left: 0;
    background-color: #ffffff;
    padding-top: 56px;
}

/* Control the right side of chat */
.right {
    right: 0;
    background-color: #228B22;
    color: white;
    padding-top: 56px;
}

.chat-title, .news-title {
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.chat-container {
    background-color: #f3f8ff;
    border-right: 2px solid #ccc;
    margin-top: -27px;
    padding-bottom: 50px;
    margin-bottom: -27px;
    padding-left: 30px;
    padding-right: 15px;
}

.news-container {
    background-color: #eaf6e9;
    margin-top: -27px;
    padding-bottom: 50px;
    margin-bottom: -27px;
    padding-right: 30px;
    padding-left: 15px;
}

.chat-history, .news-history {
    height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
}

.message-container {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #eaf4ff;
    border: 1px solid #b5d8ff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.news-history .message-container {
    background-color: #c8e6c9; /* Vert doux légèrement plus foncé */
    border: 1px solid #a5d6a7; /* Bordure vert harmonieux plus saturé */
}

.message-container .message-date {
    font-size: 0.85em;
    color: #888;
    margin-bottom: 5px;
}

.message-container .message-text {
    font-size: 1em;
    color: #333;
}

.input-area {
    margin-top: 10px;
}

.input-area .form-control {
    border-radius: 20px;
}

.input-area .btn {
    border-radius: 20px;
}

body, html {
    overflow-x: hidden;
    width: 100%;
}
