<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

</head>
<body onload="init()">
    <div id="chat_interface" style="display: block">
        <div id="chat_container" class="split left">
            <h1 id="chat_title">Film Chat</h1>
            <div class="mb-3">
                <div id="who_you_are" style="display: inline"></div>,
                you are in the room :
                <div id="in_room" style="display: inline"></div>
            </div>

            <!-- Chat history with scrollable content -->
            <div id="chat_history" class="boxed overflow-auto" style="height: 600px; border: 1px solid #ccc; padding: 10px; border-radius: 5px;">
                <p id="chat_loading_message" style="text-align: center; display: none; color: #888;">Loading chat...</p>
            </div>
            <div id="chat_box" class="mt-3">
                <form onsubmit="sendChatText(); return false;" class="d-flex">
                    <input type="text" id="chat_input" name="chat_input" class="form-control me-2" placeholder="Your message">
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>

        <div id="news_container" class="split right">
            <h1>General Chat</h1>
            <div class="mb-3"> News & Events</div>
            <!-- News history with scrollable content -->
            <div id="news_history" class="boxed overflow-auto" style="height: 600px; border: 1px solid #ccc; padding: 10px; border-radius: 5px;">
                <p id="news_loading_message" style="text-align: center; display: none; color: #888;">Loading news...</p>
            </div>

            <form onsubmit="sendNewsText(); return false;" class="d-flex mt-3">
                <input type="text" id="news_input" name="news_input" class="form-control me-2" placeholder="Your message">
                <button type="submit" class="btn btn-secondary">Send</button>
            </form>
        </div>
    </div>

</body>

</html>

