<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

</head>
<body onload="init()">
    <div id="initial_form" style="display: block">
        <p>Veuillez entrer les détails pour rejoindre une room ou utilisez la redirection automatique.</p>
        <form onsubmit="connectToRoom(); return false;">
            <p>
                <label for="roomNo">Numéro de la room :</label>
                <input type="text" id="roomNo" name="roomNo">
                <button type="button" id="roomNoGenerator" onclick="generateRoom()">Générer un numéro de room</button>
            </p>
            <button type="submit">Rejoindre</button>
        </form>
    </div>

    <div id="chat_interface" style="display: none">
        <div id="chat_container" class="split left">
            <h1 id="chat_title">Chat du Film</h1>
            <div>
                <div id="who_you_are" style="display: inline"></div>,
                vous êtes dans la room :
                <div id="in_room" style="display: inline"></div>
            </div>
            <div id="chat_history" class="boxed"></div>
            <div id="chat_box" class="bottom boxed">
                <form onsubmit="sendChatText(); return false;">
                    <label for="chat_input">Message :</label>
                    <input type="text" id="chat_input" name="chat_input">
                    <button type="submit">Envoyer</button>
                </form>
            </div>
        </div>
        <div id="news_container" class="split right">
            <h1>News Générales</h1>
            <div id="news_history" class="boxed"></div>
            <form onsubmit="sendNewsText(); return false;">
                <label for="news_input">Message :</label>
                <input type="text" id="news_input" name="news_input">
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </div>
</body>

</html>

