<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/chat.css">
</head>
<body onload="init()" class="container-fluid">
    <div id="chat_interface" class="row">
        <!-- Chat Section -->
        <div id="chat_container" class="col-md-6 chat-container">
            <h2 id="chat_title" class="chat-title mt-2">Film Chat</h2>
            <div class="mb-3 d-flex justify-content-center align-items-center">
                <div id="who_you_are" class="me-2" style="font-weight: bold;"></div>
                <span>, you are in the room:</span>
                <div id="in_room" class="ms-2" style="font-weight: bold;"></div>
            </div>


            <!-- Chat History -->
            <div id="chat_history" class="chat-history">
                <p id="chat_loading_message" style="text-align: center; display: none; color: #888;">Loading chat...</p>
            </div>

            <!-- Chat Input -->
            <div id="chat_box" class="input-area">
                <form onsubmit="sendChatText(); return false;" class="d-flex">
                    <input type="text" id="chat_input" name="chat_input" class="form-control me-2" placeholder="Your message">
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>

        <!-- News Section -->
        <div id="news_container" class="col-md-6 news-container">
            <h2 class="news-title mt-2">General Chat</h2>
            <div class="mb-3 text-center" style="font-weight: bold;">News & Events</div>

            <!-- News History -->
            <div id="news_history" class="news-history">
                <p id="news_loading_message" style="text-align: center; display: none; color: #888;">Loading news...</p>
            </div>

            <!-- News Input -->
            <div id="news_box" class="input-area">
                <form onsubmit="sendNewsText(); return false;" class="d-flex">
                    <input type="text" id="news_input" name="news_input" class="form-control me-2" placeholder="Your message">
                    <button type="submit" class="btn btn-success">Send</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
