
<p>Recherchez des films par mot-clé :</p>

<form action="/springboot/findByKeyword" method="get">
<input type="text" name="name" placeholder="Entrez un mot-clé" required>
<button type="submit">Rechercher</button>
</form>
